[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;
Terminal=false
Name=Browse Mirrored Websites
Comment=Browse Websites Mirrored by WebHTTrack
Keywords=browse mirrored;
Exec=webhttrack browse
Icon=httrack
