<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.httrack.android"
    android:installLocation="auto"
    android:versionCode="47"
    android:versionName="3.47.99.47" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- We need to read/write copied Websites to the SD card. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- We need to connect to the Internet. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- We need to check the Internet connection (IPv6 enabled ?). -->
    <!-- NetworkInterface.getNetworkInterfaces() does not need that apparently, so let's remove the permission. -->
    <!-- uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" -->

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.httrack.android.HTTrackActivity"
            android:label="@string/title_activity_startup" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.httrack.android.CleanupActivity"
            android:label="@string/title_activity_cleanup" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.HelpActivity"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$ScanRulesTab"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$LimitsTab"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$FlowControlTab"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$LinksTab"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$BuildTab"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$BrowserId"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$Spider"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$Proxy"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$LogIndexCache"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.OptionsActivity$ExpertsOnly"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.httrack.android.FileChooserActivity"
            android:label="@string/title_activity_file_chooser" >
        </activity>
    </application>

</manifest>