[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Categories=Network;
Terminal=false
Name=Browse Mirrored Websites
Comment=Browse Websites Mirrored by WebHTTrack
Exec=webhttrack browse
Icon=httrack
